* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: white;
}

ul {
    gap: 20px;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 16px;
    padding: 10px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
}

.links {
    font-size: 18px;
    display: flex;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 200px;
    background-color: #1F2937;
    color: white;
    gap: 100px;
    
}

.text{  
    flex-grow: 1;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.sub{
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {   
    flex-shrink: 0;
    height: 300px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    object-position: 0% 70%;

}

.signup{
    font-size: 15px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-weight: 900;
    margin-top: 10px;
    padding: 7px 20px;
    border: none;
}
